# LASSO REGRESSION & RIDGE REGRESSION

In [1]:
#Import Libraries

In [2]:
#using %matplotlib inline code not required everytime to write plt.show()
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
#Import Data

In [4]:
cars = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/cars.csv')

In [5]:
cars.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [7]:
cars['normalized-losses'].value_counts()

?      41
161    11
91      8
150     7
134     6
128     6
104     6
85      5
94      5
65      5
102     5
74      5
168     5
103     5
95      5
106     4
93      4
118     4
148     4
122     4
83      3
125     3
154     3
115     3
137     3
101     3
119     2
87      2
89      2
192     2
197     2
158     2
81      2
188     2
194     2
153     2
129     2
108     2
110     2
164     2
145     2
113     2
256     1
107     1
90      1
231     1
142     1
121     1
78      1
98      1
186     1
77      1
Name: normalized-losses, dtype: int64

In [8]:
cars['horsepower'].value_counts()

68     19
70     11
69     10
116     9
110     8
95      7
88      6
62      6
101     6
160     6
114     6
84      5
97      5
102     5
145     5
82      5
76      5
111     4
92      4
123     4
86      4
90      3
73      3
85      3
207     3
182     3
121     3
152     3
112     2
56      2
161     2
156     2
94      2
52      2
?       2
162     2
155     2
184     2
100     2
176     2
55      1
262     1
134     1
115     1
140     1
48      1
58      1
60      1
78      1
135     1
200     1
64      1
120     1
72      1
154     1
288     1
143     1
142     1
175     1
106     1
Name: horsepower, dtype: int64

In [9]:
cars.replace('?',np.nan,inplace=True)

In [10]:
cars.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
si = SimpleImputer(strategy='mean')

In [13]:
cars[['normalized-losses','horsepower']] = si.fit_transform(cars[['normalized-losses','horsepower']])

In [14]:
cars.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [15]:
cars.dtypes['normalized-losses']

dtype('float64')

In [16]:
cars.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

# Encoding

In [17]:
cars['make'].nunique()

22

In [18]:
from sklearn.preprocessing import OrdinalEncoder   #only on categorical column not numerical column

In [19]:
cars.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [20]:
categorical_columns = cars.select_dtypes(object).columns

In [21]:
categorical_columns

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [22]:
oe = OrdinalEncoder()

In [23]:
cars[categorical_columns] = oe.fit_transform(cars[categorical_columns])

In [24]:
cars.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,122.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450

# Model Building

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X = cars.iloc[:,:-1]
Y = cars.iloc[:,-1]

In [27]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=1)

Linear Regression

In [28]:
from sklearn.linear_model import LinearRegression,Ridge , Lasso

In [29]:
lr = LinearRegression()

lr.fit(X_train,Y_train)
ylr = lr.predict(X_test)

print(lr.score(X_train,Y_train))
print(lr.score(X_test,Y_test))

0.8426404740417468
0.8174935371483154

In [30]:
lr.coef_

array([ 1.38883617e+01,  1.51670999e-01, -1.89831431e+02, -2.31217352e+02,
       -1.83043042e+02,  1.95544517e+03,  1.60171206e+04,  7.81040890e+02,
        3.22681962e+02,  3.62282035e+02,  9.74087263e+01, -1.12246223e+01,
        2.13785141e+02, -3.34637691e+02])

In [31]:
from sklearn.metrics import mean_squared_error , r2_score

In [32]:
from sklearn.metrics import mean_absolute_error

In [33]:
mse = mean_squared_error(Y_test,ylr)
mae = mean_absolute_error(Y_test,ylr)
rmse = np.sqrt(mse)

print('MAE: ',mae)
print('RMSE: ',rmse)
print('The mean squares value is :',mse)
print('The R2 score is:',r2_score(Y_test,ylr))

MAE:  2444.312260926019
RMSE:  3496.8563743028667
The mean squares value is : 12228004.50250259
The R2 score is: 0.8174935371483154

# Lasso Regression

In [34]:
lasso = Lasso()
lasso.fit(X_train,Y_train)

lassoy = lasso.predict(X_test)
print(lasso.score(X_train,Y_train))
print(lasso.score(X_test,Y_test))

0.8426390157329315
0.8175935442694683

In [35]:
lasso.coef_

array([ 1.39286215e+01,  1.54077958e-01, -1.89656037e+02, -2.23550176e+02,
       -1.83904868e+02,  1.95257503e+03,  1.59424807e+04,  7.78879640e+02,
        3.23327613e+02,  3.62475001e+02,  9.74964902e+01, -1.10978460e+01,
        2.12745858e+02, -3.33376536e+02])

In [36]:
for i in range(10,100):
    lasso = Lasso(alpha=i)
    lasso.fit(X_train,Y_train)
    
    lassoy = lasso.predict(X_test)
    trainac = lasso.score(X_train,Y_train)
    testac=lasso.score(X_test,Y_test)
    print(f" {i} Train {trainac} Test {testac} ")

 10 Train 0.8424946842827061 Test 0.818453017448295
 11 Train 0.8424640722314876 Test 0.818543995924671
 12 Train 0.8424305448974289 Test 0.8186340666435871
 13 Train 0.8423941071644808 Test 0.8187232501536219
 14 Train 0.8423547497202637 Test 0.8188115061654354
 15 Train 0.8423124768736747 Test 0.818898854355521
 16 Train 0.8422672952086006 Test 0.8189853172031648
 17 Train 0.8422191921208134 Test 0.8190708506790065
 18 Train 0.842168181277128 Test 0.8191554997039829
 19 Train 0.8421142478611066 Test 0.8192392184175661
 20 Train 0.8420574078291373 Test 0.8193220536057366
 21 Train 0.8419976440045586 Test 0.8194039575434636
 22 Train 0.8419349747898729 Test 0.8194849789234747
 23 Train 0.8418693911814883 Test 0.8195650933245031
 24 Train 0.8418008820693499 Test 0.8196442756332363
 25 Train 0.8417294692821822 Test 0.8197225762328765
 26 Train 0.8416551421078109 Test 0.8197999698572849
 27 Train 0.8415778876089205 Test 0.8198764305191094
 28 Train 0.841497731261317 Test 0.8199520103501342
 29 Train 0.841414660530252 Test 0.820026683202916
 30 Train 0.8413286605382797 Test 0.8201004221929411
 31 Train 0.8412425205154066 Test 0.8202009798741485
 32 Train 0.8411537864238363 Test 0.8203031048096379
 33 Train 0.8410622544300299 Test 0.8204044907111364
 34 Train 0.8409678808862966 Test 0.8205049780104672
 35 Train 0.8408707140766293 Test 0.8206047397289171
 36 Train 0.8407707307033326 Test 0.8207036915918341
 37 Train 0.8406679044220091 Test 0.8208017478312414
 38 Train 0.8405622879284256 Test 0.8208990825891371
 39 Train 0.8404538551807668 Test 0.8209956088195591
 40 Train 0.840342576914741 Test 0.8210912377141717
 41 Train 0.8402285113426251 Test 0.8211861481288534
 42 Train 0.8401116296139167 Test 0.8212802504331645
 43 Train 0.8399919317613681 Test 0.8213735447568674
 44 Train 0.8398693849917181 Test 0.8214659398152317
 45 Train 0.8397440544698975 Test 0.8215576189458019
 46 Train 0.8396159079117732 Test 0.8216484903712508
 47 Train 0.8394849093451554 Test 0.8217384597427316
 48 Train 0.839351130264883 Test 0.8218277163992449
 49 Train 0.8392145351428215 Test 0.8219161653340773
 50 Train 0.8390751239808338 Test 0.8220038065618713
 51 Train 0.8389328570033701 Test 0.822090543139072
 52 Train 0.838787813337468 Test 0.8221765696288953
 53 Train 0.8386399536344138 Test 0.8222617884148187
 54 Train 0.8384892346251194 Test 0.8223460992845277
 55 Train 0.8383357426564448 Test 0.8224297038694134
 56 Train 0.8381794344712965 Test 0.8225125003278475
 57 Train 0.8380203100656498 Test 0.822594488678658
 58 Train 0.8378583223336191 Test 0.8226755665359271
 59 Train 0.8376935655275748 Test 0.822755940364962
 60 Train 0.8375259926677823 Test 0.8228355064584556
 61 Train 0.837355603784849 Test 0.822914264888812
 62 Train 0.8371823472025519 Test 0.8229921097123896
 63 Train 0.83700632591202 Test 0.8230692535725609
 64 Train 0.8368274886742725 Test 0.8231455899106234
 65 Train 0.8366457798267168 Test 0.8232210092207561
 66 Train 0.8364613103189495 Test 0.8232957312265786
 67 Train 0.836274024874099 Test 0.823369645704663
 68 Train 0.8360839234955562 Test 0.8234427526614259
 69 Train 0.8358909460151527 Test 0.8235149397034256
 70 Train 0.8356952124352498 Test 0.8235864323856158
 71 Train 0.835496662894022 Test 0.8236571174715344
 72 Train 0.8352952329859789 Test 0.823726878989904
 73 Train 0.8350910513062052 Test 0.8237959498691412
 74 Train 0.8348840536956422 Test 0.8238642131854055
 75 Train 0.834674240160918 Test 0.8239316689516873
 76 Train 0.8344615416157635 Test 0.8239981983921629
 77 Train 0.8342460959841785 Test 0.8240640399516653
 78 Train 0.8340278344456621 Test 0.8241290739687005
 79 Train 0.8338066834160895 Test 0.8241931780330793
 80 Train 0.833586431906356 Test 0.8242443583498044
 81 Train 0.833374492384795 Test 0.8242565830078707
 82 Train 0.8331598033768124 Test 0.8242681769999864
 83 Train 0.8329425656780141 Test 0.8242790323647661
 84 Train 0.8327226639910618 Test 0.8242892103625874
 85 Train 0.832490480322479 Test 0.8243331818815951
 86 Train 0.8322513077716366 Test 0.8243895816759901
 87 Train 0.8320093171767305 Test 0.824445155371428
 88 Train 0.8317645472826909 Test 0.8244999616727929
 89 Train 0.8315169893099668 Test 0.8245539868368942
 90 Train 0.8312666411012507 Test 0.8246072273304987
 91 Train 0.8310135014680065 Test 0.8246596811569349
 92 Train 0.8307575675221387 Test 0.8247113439451911
 93 Train 0.830498757433223 Test 0.824762098809914
 94 Train 0.8302372331904317 Test 0.8248121778768006
 95 Train 0.8299729132557533 Test 0.8248614637156723
 96 Train 0.8297057118655305 Test 0.8249098369779917
 97 Train 0.8294358000720994 Test 0.8249575365855764
 98 Train 0.8291630919568908 Test 0.8250044419910325
 99 Train 0.8288874977658719 Test 0.8250504313581176

In [37]:
lasso = Lasso(alpha=99)
lasso.fit(X_train,Y_train)

lassoy = lasso.predict(X_test)
print(lasso.score(X_train,Y_train))
print(lasso.score(X_test,Y_test))

0.8288874977658719
0.8250504313581176

In [38]:
lr.coef_

array([ 1.38883617e+01,  1.51670999e-01, -1.89831431e+02, -2.31217352e+02,
       -1.83043042e+02,  1.95544517e+03,  1.60171206e+04,  7.81040890e+02,
        3.22681962e+02,  3.62282035e+02,  9.74087263e+01, -1.12246223e+01,
        2.13785141e+02, -3.34637691e+02])

In [39]:
lasso.coef_

array([ 9.47062926e+00,  5.17284285e-01, -1.73690901e+02, -0.00000000e+00,
       -2.84319223e+02,  1.60788183e+03,  8.46562205e+03,  5.32148945e+02,
        3.80069606e+02,  3.84827095e+02,  1.05708779e+02,  2.07456819e+00,
        8.63965993e+01, -1.99165752e+02])

# Ridge regression

In [40]:
ridge = Ridge()
ridge.fit(X_train,Y_train)
y_ridge = ridge.predict(X_test)
print(ridge.score(X_train,Y_train))
print(ridge.score(X_test,Y_test))

0.8363016020500668
0.8261721725797894

In [41]:
for i in range(10,100):
    ridge = Ridge(alpha=i)
    ridge.fit(X_train,Y_train)
    
    ridgeoy = ridge.predict(X_test)
    trainac = ridge.score(X_train,Y_train)
    testac=ridge.score(X_test,Y_test)
    print(f" {i} Train {trainac} Test {testac} ")

 10 Train 0.8061647370643804 Test 0.8299762200970315
 11 Train 0.8049458666740463 Test 0.8298711335746745
 12 Train 0.8038543918396157 Test 0.8297569030800483
 13 Train 0.8028670720512683 Test 0.8296359698923725
 14 Train 0.8019661462542139 Test 0.8295100889378364
 15 Train 0.8011378128928273 Test 0.8293805609069157
 16 Train 0.8003711855140285 Test 0.8292483745629626
 17 Train 0.7996575602807223 Test 0.8291142973632271
 18 Train 0.7989898926037378 Test 0.8289789351802441
 19 Train 0.7983624168244545 Test 0.8288427729060448
 20 Train 0.7977703655688985 Test 0.8287062028526304
 21 Train 0.7972097597258309 Test 0.828569545134517
 22 Train 0.7966772492432321 Test 0.8284330626415094
 23 Train 0.7961699910124617 Test 0.8282969722705146
 24 Train 0.7956855541738862 Test 0.8281614535107747
 25 Train 0.7952218459421637 Test 0.8280266551169049
 26 Train 0.7947770529582665 Test 0.8278927003732651
 27 Train 0.7943495945121797 Test 0.8277596913019374
 28 Train 0.7939380849287612 Test 0.8276277120654922
 29 Train 0.7935413030905343 Test 0.8274968317468132
 30 Train 0.7931581675660961 Test 0.8273671066404789
 31 Train 0.7927877161761878 Test 0.8272385821564667
 32 Train 0.7924290890989083 Test 0.8271112944127701
 33 Train 0.7920815148172307 Test 0.8269852715759131
 34 Train 0.7917442983642426 Test 0.8268605349953434
 35 Train 0.7914168114374763 Test 0.8267371001679603
 36 Train 0.7910984840426342 Test 0.8266149775616405
 37 Train 0.7907887973957715 Test 0.8264941733209795
 38 Train 0.7904872778665281 Test 0.8263746898740687
 39 Train 0.7901934917869118 Test 0.826256526455687
 40 Train 0.7899070409832158 Test 0.826139679559567
 41 Train 0.789627558914869 Test 0.8260241433302246
 42 Train 0.7893547073249372 Test 0.825909909903086
 43 Train 0.7890881733237745 Test 0.8257969697002375
 44 Train 0.7888276668408484 Test 0.8256853116879602
 45 Train 0.7885729183907252 Test 0.8255749236012625
 46 Train 0.7883236771081195 Test 0.8254657921398402
 47 Train 0.7880797090142159 Test 0.8253579031392342
 48 Train 0.7878407954824523 Test 0.8252512417204212
 49 Train 0.7876067318769084 Test 0.8251457924206027
 50 Train 0.7873773263405281 Test 0.8250415393075785
 51 Train 0.7871523987138116 Test 0.8249384660797686
 52 Train 0.7869317795674504 Test 0.8248365561536595
 53 Train 0.7867153093347532 Test 0.8247357927402221
 54 Train 0.7865028375317178 Test 0.8246361589116469
 55 Train 0.7862942220542767 Test 0.8245376376595646
 56 Train 0.7860893285436766 Test 0.8244402119457749
 57 Train 0.7858880298121615 Test 0.824343864746374
 58 Train 0.7856902053221533 Test 0.8242485790900693
 59 Train 0.7854957407130028 Test 0.8241543380913579
 60 Train 0.785304527370144 Test 0.8240611249791823
 61 Train 0.7851164620321136 Test 0.8239689231215825
 62 Train 0.784931446431473 Test 0.8238777160468228
 63 Train 0.7847493869661287 Test 0.823787487461394
 64 Train 0.7845701943979797 Test 0.823698221265263
 65 Train 0.7843937835761663 Test 0.8236099015646859
 66 Train 0.7842200731825144 Test 0.8235225126828714
 67 Train 0.7840489854970376 Test 0.8234360391687435
 68 Train 0.7838804461816025 Test 0.8233504658040294
 69 Train 0.7837143840800602 Test 0.8232657776088657
 70 Train 0.783550731033342 Test 0.8231819598461042
 71 Train 0.7833894217081666 Test 0.823098998024467
 72 Train 0.7832303934381517 Test 0.8230168779006921
 73 Train 0.7830735860762494 Test 0.8229355854807915
 74 Train 0.7829189418575307 Test 0.8228551070205326
 75 Train 0.7827664052714394 Test 0.8227754290252351
 76 Train 0.7826159229427327 Test 0.8226965382489787
 77 Train 0.7824674435203905 Test 0.8226184216932851
 78 Train 0.7823209175738489 Test 0.8225410666053589
 79 Train 0.7821762974959751 Test 0.8224644604759332
 80 Train 0.7820335374122533 Test 0.8223885910367825
 81 Train 0.7818925930957018 Test 0.82231344625795
 82 Train 0.7817534218870811 Test 0.8222390143447301
 83 Train 0.781615982619996 Test 0.8221652837344442
 84 Train 0.7814802355505296 Test 0.8220922430930465
 85 Train 0.781346142291074 Test 0.822019881311586
 86 Train 0.781213665748058 Test 0.8219481875025547
 87 Train 0.7810827700632894 Test 0.8218771509961414
 88 Train 0.7809534205586637 Test 0.8218067613364194
 89 Train 0.7808255836839989 Test 0.8217370082774758
 90 Train 0.7806992269677874 Test 0.8216678817795112
 91 Train 0.7805743189706615 Test 0.8215993720049126
 92 Train 0.7804508292414004 Test 0.8215314693143219
 93 Train 0.7803287282752995 Test 0.8214641642627026
 94 Train 0.7802079874747574 Test 0.8213974475954237
 95 Train 0.7800885791119324 Test 0.821331310244358
 96 Train 0.7799704762933396 Test 0.8212657433240169
 97 Train 0.7798536529262636 Test 0.8212007381277113
 98 Train 0.7797380836868772 Test 0.8211362861237586
 99 Train 0.7796237439899592 Test 0.8210723789517331